<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Fantasy Football Blog</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>FANTASY FOOTBALL STUFF</h1>
          <hr/>
          <form>
            <div class="form-group">
              <input class="form-control" id="blogPost" placeholder="Please enter what you want to post!">
            </div>
            <center>
              <button type="submit" class="btn btn-default" id="submitBtn">Submit</button>
              </center>
          </form>
          <hr/>
          <ul id="container" class="list-group">
          </ul>
        </div>
      </div>
    </div>
    <!-- APPLICATION SCRIPTS -->
    <script src="base.js"></script>

  </body>
</html>